extends layout

block content
  div(class="page error")
    div(class="inner")
      h1= message
      if error
        if error.status
          h2= error.status
        if error.stack
        pre #{error.stack}
