doctype html
html
  head
    title= title
    block head
    link(rel="shortcut icon" href="/favicon.ico")
    link(rel='stylesheet', href='/css/main.css')
    meta(name='viewport', content='width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
    
    meta(property="og:type" content="website")
    meta(property="og:title" content="")
    meta(property="og:site_name" content="")
    meta(property="og:url" content="")
    meta(property="og:description" content="" )
    meta(property="og:image" content="")
  body
    block content